<div class="m-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">Home</li>
      <li class="breadcrumb-item active" aria-current="page">Active</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-8">
        <h1>Painel de Gestao</h1>
    </div>
    <div class="col-4">
      Produto
    </div>
  </div>



    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-header bg-white">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header bg-white">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  
</div>